page-login {
    ion-content{
        .reduce{
            width: 80%;
            left: calc(10%);
            height: 60px;
            line-height: 60px;
            margin-top: 20%;
        }
        .sign-btn{
            width: 100%;
        }
        .text {
            text-align: center;
            width: 95%;
            font-size: 14px;
            padding: 0;
            margin: 0;
        }
    }
}
