page-login {
    ion-content{
        .reduce{
            width: 60%;
            left: calc(20%);
        }
        .sign-btn{
            width: 100%;
        }
        .text {
            text-align: center;
            width: 95%;
            font-size: 14px;
        }
    }
}
