page-register {
    ion-content {
        text-align: center;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
        }

        img {
            height: 80px;
            width: auto;
            margin: auto;
            display: block;
            border-radius: 50%;
        }

        ion-input {
            font-size: 14px;
            color: grey;
        }

        ion-select {
            font-size: 14px;
            color: grey;
        }

        .reduce {
            width: 60%;
        }

        .text {
            text-align: center;
            width: 95%;
            font-size: 14px;
        }

        .col {
            padding: 0;
        }

        .sign {
            margin-top: 5%;
            width: 100%;
        }

        .searchbar-input {
            font-size: 1.375rem !important;
        }

        ion-col {

            &:nth-of-type(1) {
                .btn {
                    margin-right: 5%;
                } 
            }

            &:nth-of-type(2) {
                .btn {
                    margin-left: 5%;
                } 
            }
        }

        .btn {
            position:relative;
            width: 95%;
            font-weight: normal;
            margin: 0;
            box-shadow: none;
            text-transform: capitalize !important;
        }

        .school {

            .label-md {
                margin-top: 0;
                margin-bottom: 0;
            }

            .list {
                color: #999;
                font-size: 1.25rem;
            }
        }

        .searchbar-input {
            padding-left: 0!important;
        }

        .searchbar-search-icon {
            display: none !important;
        }

        span.hint {
            padding: 4px 16px;
            color: color($colors, danger);
            font-size: 1rem;
            width: 100%;
            text-align: left;
        }
    }
}