
# /
/build
/dist
/*.egg-info
*.pyc
*~
*.sw*
.ropeproject
# /docs/
/docs/_build

# /katcore/
/katcore/*.pyc

# /scripts/
/scripts/build
/scripts/   dist
/scripts/   *.egg-info
/scripts/   *.pyc

# Virtualenv created by build script
/venv
# Where rsc gets installed for tests
/lib
tags
