
# /
/build
/dist/*
/*.egg-info
*.pyc
*.bak
*.DS_Store
*~
*.sw*
.ropeproject
# /docs/
/docs/_build

# /katcore/
/katcore/*.pyc

# /scripts/
/scripts/build
/scripts/   dist
/scripts/   *.egg-info
/scripts/   *.pyc

# Virtualenv created by build script
/venv
# Where rsc gets installed for tests
tags
# Bin/build directories
/bin/*
/MDDist/*
./MBSEPlugin.zip
