page-tutorprofile {
    ion-content{

        .select-md {
            padding: 13px 8px 13px 16px !important;
        }

        ion-col {
            text-align: left !important;
            display: flex;
            align-items: center;
        }
        img{
            height: 80px;
            width: auto;
            margin: auto;
            display: block;
            border-radius: 50%;
        }

        .header {
            min-width: 35%;
            text-align: left;
        }

        .select-text, .datetime-text {
            line-height: 1.2!important;
            min-height: 1.2em!important;
            height: 20px !important;
        }
        ion-input, ion-datetime{
            font-size: 14px;
            color: grey;
        }
        ion-select{
            font-size: 14px;
            color: grey;
        }
        .up-btn{
            position: absolute;
            left: calc(35%);
        }

        .col {
            padding: 0;
        }

        .column {
            max-width: 10% !important;
        }

        ion-icon {
            align-self: center !important;
            margin-left: 10%;
            line-height: 100%;
            vertical-align: middle;
            display: flex !important;
        }

    }
}
