page-draw {
    .no-scroll, ion-content, .scroll-content {
        overflow: hidden !important;
    }

    button.disabled {
      background: #777 !important;
    }

    .videos {
        height: calc(100vh - 56px);
        position: fixed;
        z-index: 100;
        top: 56px;
        left: 0;
        font-size: 0;
        width: 100%;
        text-align: center;
    }

    .vid.ilb {
      font-size: 16px;
      display: inline-block;
      width: 100%;
      height: calc(100vh - 56px);
      margin: 0% !important;
      vertical-align: top;
      background: #222;
      text-align: center;
    }

    video {
      width: 100%;
      height: calc(100vh - 56px);
    }

    .vid.ilb.mine {
      width: 128px;
      height: 128px;
      margin-left: 24.5% !important;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .waiting {
      color: white;
    }

    .vid.ilb.mine video {
      width: 128px;
      height: 128px;
    }
    #credentials, #dialler, #messages {
      clear: both;
    }
    #remote {
      max-width: 300px;
    }
    #mini {
      max-width: 150px;
    }
    
}
