<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recommended Tutors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" padding text-center class="vertical-align-content" [hidden]="tutors && tutors.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col class="readjust">
        No recommended tutors around you at the moment
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="has-header" [hidden]="!tutors || tutors.length <= 0">
  <ion-list no-lines>
    <ion-list-header no-lines text-center>
      Recommended for you
    </ion-list-header>
    <!--<ion-item *ngFor="let tutor of tutors" text-wrap (click)="viewTutor(0)">
      <ion-avatar item-left class="avatar">
        <img [src]="tutor.image">
        <div [class]="'status ' + tutor.status"> </div>
      </ion-avatar>
      <strong>{{tutor.name}}</strong>
      <p>{{tutor.institution}}</p>
      <p>{{tutor.subjects.join(', ')}}</p>      
      <ion-icon color="primary" item-right name="thumbs-up"></ion-icon> <p item-right> {{tutor.likes}}</p>
    </ion-item>-->
    <ion-item *ngFor="let tutor of ftutors | async" text-wrap (click)="viewTutor(tutor.$key)">
      <ion-avatar item-left class="avatar">
        <img [src]="tutor.imageurl">
        <div [class]="'status ' + tutor.status"> </div>
      </ion-avatar>
      <strong>{{tutor.name}} {{tutor.lastname}}</strong>
      <p>{{tutor.institution}}</p>
      <p>Subjects</p>      
      <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
      <ion-icon color="primary" item-right name="thumbs-up"></ion-icon> <p item-right> {{tutor.likes}}</p>
    </ion-item>
  </ion-list>

  <div *ngIf="(lessons_upcoming_now | async)?.length > 0" class="pending" color="notsodark" > 
    <ion-item round color="notsodark" text-wrap *ngFor="let lesson of lessons_upcoming_now | async" (click)="changePage(lessonPage, lesson.tutorid, lesson.start)" (swipe)="changePage(lessonPage, lesson.tutorid, lesson.start)">
      <ion-avatar item-left class="avatar">
        <ion-icon style="font-size: 2.5em" name="alarm"> </ion-icon>
      </ion-avatar>
      <strong>LESSON COMING UP</strong>
      <p>{{lesson.start | date:'HH:mm'}} Today</p>
      <p><em>with</em> {{lesson.tutorname}}</p>      
      <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
    </ion-item>
  </div>
</ion-content>


