<ion-header *ngIf="first === false">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Recommended Tutors</ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-slides pager [hidden]="first !== true" no-padding>

  <ion-slide style="background-color: white">
    <h2> First time? No worries. Let's walk you through!</h2>
    <img src="assets/img/slide-01.png" height="120"/>
    <h2> <em> Step 1: </em> Select a tutor </h2>
    <p> Got it? Swipe left </p>
  </ion-slide>

  <ion-slide style="background-color: white">
    <h2> Next, you can book the tutor </h2>
    <h2> <em> Step 2: </em> Select a session </h2>
    <img src="assets/img/slide-02.png"/>
    <h2> <em> Step 3: </em> Book the tutor! </h2>
    <p> Got it? Swipe left </p>
  </ion-slide>

  <ion-slide>
    <h2> Your lesson will be booked successfully. </h2>
    <img src="assets/img/slide-03.png"/>
    <h2> A notification will be sent to you an hour before your lesson begins. </h2>
    <h2> Make sure you show up on time! </h2>
    <img class="girl" src="assets/img/girl.png"/>
    <button class="reduce" ion-button icon-left color="primary" (click)="endGuide()">
      Got it!
    </button>
  </ion-slide>

</ion-slides> -->

<ion-content *ngIf="first === false" class="has-header" padding text-center class="vertical-align-content" [hidden]="(ftutors | async)?.length > 0">
  <ion-grid>
    <ion-row>
      <ion-col class="readjust">
        No recommended tutors around you at the moment
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="first === false" class="has-header" [hidden]="(ftutors | async)?.length <= 0">
  <ion-list no-lines>
    <ion-list-header no-lines text-center>
      Recommended for you
    </ion-list-header>
    <ion-item *ngFor="let tutor of ftutors | async" text-wrap (click)="viewTutor(tutor.$key)">
      <ion-avatar item-left class="avatar">
        <img [src]="tutor.imageurl">
        <div [class]="'status ' + tutor.status"> </div>
      </ion-avatar>
      <strong>{{tutor.name}} {{tutor.lastname}}</strong>
      <p>{{tutor.institution}}</p>
      <p>Subjects</p>
    </ion-item>
  </ion-list>

  <div *ngIf="(lessons_upcoming_now | async)?.length > 0" class="pending" color="notsodark" > 
    <ion-item round color="notsodark" text-wrap *ngFor="let lesson of lessons_upcoming_now | async" (click)="changePage(lessonPage, lesson, lesson.start)" (swipe)="changePage(lessonPage, lesson, lesson.start)">
      <ion-avatar item-left class="avatar">
        <ion-icon style="font-size: 2.5em" name="alarm"> </ion-icon>
      </ion-avatar>
      <strong>LESSON COMING UP</strong>
      <p>{{lesson.start | date:'HH:mm'}} Today</p>
      <p><em>with</em> {{lesson.tutorname}}</p>      
    </ion-item>
  </div>
</ion-content>


