page-tutorregister {
    ion-content {
        text-align: center;

        h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
        }

        img {
            height: 80px;
            width: auto;
            margin: auto;
            display: block;
            border-radius: 50%;
        }

        ion-input {
            font-size: 14px;
            color: grey;
        }

        ion-select {
            font-size: 14px;
            color: grey;
        }

        .reduce {
            width: 60%;
        }

        .sign {
            margin-top: 5%;
            width: 100%;
        }

        .text {
            text-align: center;
            width: 95%;
            font-size: 14px;
        }

        .col {
            padding: 0;
        }

        span.hint {
            padding: 4px 16px;
            color: color($colors, danger);
            font-size: 1rem;
            width: 100%;
            text-align: left;
        }
    }
}
