page-settings {
    button.reduce {
        display: inline-block;
        text-align: center;
        margin-top: 15%;
        width: 50%;
    }

    .toggle-form ion-label {
        font-size: 0.85em;
        display: inline
    }
}
