<!--
  Generated template for the UserselectionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Role selection</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding text-center>
  <h2> Please select your role: </h2>  
  <button ion-button class="reduce" color="primary" (click)="registerPage('student')">
    Student
  </button>

  <button ion-button class="reduce" color="primary" (click)="registerPage('tutor')">
    Tutor
  </button>

  <!--<button ion-button class="reduce" color="secondary" (click)="registerPage('parent')">
    Parent
  </button>-->

  <!--<p class="text">Or Login using Firebase</p>
  <button (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="What is it that you do?" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
  <div id="details-container">
      <p *ngFor="let item of items | async"><img src="../assets/images/pin.svg">{{item.message}}</p>
  </div>-->

</ion-content>
