<!-- Generated template for the CalendarComponent component -->
<ion-grid>
  <ion-row justify-content-center>
    <ion-col col-auto (click)="back()">
      <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-auto>
      <div>{{monthHead[displayMonth]}} {{displayYear}} </div>
    </ion-col>
    <ion-col col-auto (click)="forward()">
      <ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
  </ion-row>

  <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
    <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'',day.isEvent?'event':'']">
      {{day.date}}
    </ion-col>
  </ion-row>

  <ion-list no-lines [hidden]="events.length == 0">
      <!--<ion-item text-center class="text"> <div class="class"> </div> CLASS &nbsp; &nbsp; <div class="one"> </div> UNBOOKED 1 on 1 SESSION</ion-item>-->

      <ion-item text-left [class]="textclass(event.val.location)" *ngFor="let event of events">
        <div class="ilb g">
          {{event.val.start | date:'HH:mm'}} <br/> {{event.val.end | date:'HH:mm'}} 
        </div> 

        <div class="ilb"> 
          {{event.val.title}} 
        </div> 

        <ion-fab>
          <button ion-fab color="primary" (click)="bookSession(event.key, event.val.duration, event.val.start)"><ion-icon name="add"></ion-icon></button>
        </ion-fab>
        <!--<div class="ilb prim" (click)="alertTutor()" text-center> 
          <ion-icon name="add" color="light"> </ion-icon> 
        </div> -->
      </ion-item>
  </ion-list>

</ion-grid>