calendar {
    font-family: "Microsoft YaHei";
  .center {
    text-align: center;
  }
  .text {
      font-size: 16px;
      display:  inline-block;
      vertical-align: middle;
  }
  .blok {
    border-radius: 3px;
    /*background-color: color($colors, tint);*/
    border: 2px solid color($colors,primary);
    width: 100%;
    margin-top: 4%;
    position: relative;
  }
  .class {
    height: 12px;
    width: 12px;
    background-color: color($colors, secondary);
    display:  inline-block;
    vertical-align: middle;
  }

  .ilb {
    display: inline-block;
    vertical-align: top;
    line-height: 18px;
    font-size: 16px;
  }

  .ilb.prim {
    border-radius: 5px;
    background-color: color($colors, primary);
    height: 40px;
    width: 40px;
    color: white;
    line-height: 40px;
    position: absolute;
    right: 4%;
  }

  .ilb.g {
    color: #555;
    padding-left: 4%;
  }

  .c-class {
    color: black;/*color($colors, secondary);*/
    display:  inline-block;
  }

  .session {
    color: black; /*color($colors, openg);*/
    display:  inline-block;
  }

  .one {
    height: 12px;
    width: 12px;
    background-color: color($colors, openg);
    display:  inline-block;
    vertical-align: middle;
  }

  .calendar-header-col {
    font-size: 1rem;
    color: #777;
  }
  .calendar-row {
    &:last-child {
      border-bottom: 1px solid #eee;
    }
    .calendar-col {
      display: flex;
      justify-content: center;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-left: 1px solid #eee;
      border-top: 1px solid #eee;
      &:last-child {
        border-right: 1px solid #eee;
      }
    }
    .not-this-month {
      color: #fff;
      background: linear-gradient(#e5e5e5, #dfdfdf);
    }
    .today {
      color: #fff;
      box-shadow: inset 0 0 10px #aaa;
      background: radial-gradient(#c5c5c5, #c8c8c8, #ccc);
    }
    .select, .select.event {
      box-shadow: none;
      color: #fff;
      background: radial-gradient(#da5c5c, #df5f5f, #df5f5f)!important;
    }
    .event, .event.today {
        background: color($colors,primary);
        color: white;
        box-shadow: none !important;
    }

    
  }
}
