<!--
  Generated template for the TutorclassesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Classes</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="primary" class="respect">
    <ion-segment [(ngModel)]="my">
      <ion-segment-button value="pending" style="color: white">
        Pending
      </ion-segment-button>
      <ion-segment-button value="upcoming" style="color: white">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="history" style="color: white">
        History
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="grey">
  <div [ngSwitch]="my">
    <!-- --------THIS IS THE SAME AS APPOINTMENTS---------- -->
    <ion-list *ngSwitchCase="'pending'" no-lines> 
      <ion-item class="grey" *ngFor="let lesson of lessons_pending | async" no-lines>
        <ion-card>
            <ion-card-content>
              <ion-card-title text-center class="il left">
                {{lesson.title}}
              </ion-card-title>
              <ion-item item-end class="il">
                <ion-icon [name]="name(lesson.type)" color="primary"></ion-icon>
              </ion-item>
              <p *ngIf="lesson.type == 'group'"> {{lesson.accepted}} (out of {{lesson.capacity}}) accepted </p>
              <p text-center> {{lesson.start | date:'MMM dd, yyyy HH:mm'}}</p>
              <ion-item item-start class="il left">
                <p> {{lesson.subtitle}}</p>
                <p> {{lesson.duration}} minutes </p>
              </ion-item>
              
              <ion-item text-wrap>
                <ion-avatar item-left>
                  <img [src]="lesson.imageurl">
                </ion-avatar>
                <strong>{{lesson.learnername}}</strong>
                <p>{{lesson.school}}</p>  
                <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
              </ion-item>

              <div padding text-center>
                <button text-center class="request-btn" ion-button bottom (click)="acceptLesson(lesson.$key, lesson.learnerid)" medium>
                   Accept Request
                </button>
              </div>
            </ion-card-content>
          </ion-card>
      </ion-item>
    </ion-list>
    <!-- --------THESE ARE LESSONS REQUESTED BY THE LEARNER TO TUTORS---------- -->
    <ion-list *ngSwitchCase="'upcoming'" no-lines>
      <ion-item class="grey" *ngFor="let lesson of lessons_upcoming | async" no-lines>
        <ion-card>
            <ion-card-content>
              <ion-card-title text-center>
                {{lesson.title}}
              </ion-card-title>
              <p text-center> {{lesson.start | date:'MMM dd, yyyy HH:mm'}} </p>
              <ion-item item-start class="il left">
                <p> {{lesson.subtitle}}</p>
                <p> {{lesson.duration}} minutes </p>
              </ion-item>
              
              <ion-item text-wrap>
                <ion-avatar item-left>
                  <img [src]="lesson.imageurl">
                </ion-avatar>
                <strong>{{lesson.learnername}}</strong>
                <p>{{lesson.school}}</p>  
                <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
              </ion-item>
              <div padding text-center>
                <button text-center class="request-btn" ion-button bottom (click)="openPage(classroomPage)" medium>
                  Enter classroom
                </button>
              </div>
            </ion-card-content>
          </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'history'" no-lines>
      <ion-item class="grey" *ngFor="let lesson of lessons_history | async" no-lines>
        <ion-thumbnail item-start>
          <img [src]="lesson.imageurl">
        </ion-thumbnail>
        <h2>{{lesson.title}}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

