<!--
  Generated template for the TutorhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-line text-center class="grey">
      <p> UPCOMING LESSONS </p>
      <ion-item class="item-borderless" class="grey" *ngFor="let lesson of lessons_upcoming | async" no-lines>
          <ion-card  no-lines>
            <ion-card-content>
              <ion-card-title text-center>
                {{lesson.title}}
              </ion-card-title>
              <p text-center> {{lesson.type}} </p>
              <ion-item item-start class="il left">
                <p> Grade {{lesson.grade}} </p>
                <p> {{lesson.duration}} minutes </p>
                <p> {{lesson.subtitle}} </p>
              </ion-item>
              <ion-item item-end class="il">
                <h2> R{{lesson.price}}</h2>
              </ion-item>

              <ion-item item-left >
                <p> {{lesson.start | date:'MMM dd, yyyy HH:mm'}}  </p>
              </ion-item>

              <ion-item text-wrap>
                <ion-avatar item-left>
                  <img [src]="lesson.imageurl">
                </ion-avatar>
                <strong>{{lesson.learnername}}</strong>
                <p>{{lesson.school}}</p>
                <p>{{lesson.subtitle}}</p>      
                <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
              </ion-item>
            </ion-card-content>
          </ion-card>
      </ion-item>

      <div *ngIf="(lessons_upcoming_now | async)?.length > 0" class="pending" color="notsodark"> 
        <ion-item round color="notsodark" text-wrap *ngFor="let lesson of lessons_upcoming_now | async" (click)="changePage(lessonPage, lesson, lesson.start)">
          <ion-avatar item-left class="avatar">
            <ion-icon style="font-size: 2.5em" name="alarm"> </ion-icon>
          </ion-avatar>
          <strong>LESSON COMING UP</strong>
          <p>{{lesson.start | date:'HH:mm'}} Today</p>
          <p><em>with</em> {{lesson.learnername}}</p>     <!-- GET THE LAST DANK - or use cloud function place lesson 1 hour before--> 
          <!--<button ion-button clear item-right (click)="goToDetails(dino)">View</button>-->
        </ion-item>
      </div>

</ion-content>

<ion-footer *ngIf="(lessons_pending | async)?.length > 0">
  <ion-item padding text-center *ngFor="let lesson of lessons_pending | async" (click)="changePage(tutorclassesPage)">
    <p> New lesson request </p>
    <h3> {{ lesson.learnername }} </h3>
    <p> {{lesson.start | date:'Do dd/MM HH:mm'}} </p>
  </ion-item>
</ion-footer>

<ion-fab right bottom>
  <button ion-fab color="primary" (click)="changePage(tutorschedulePage)"><ion-icon name="add"></ion-icon></button>
</ion-fab>