<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Book Tutor</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding class="content-stable"
                on-swipe-left="hideTime = false"
                on-swipe-right="hideTime = true">
    

    <ion-grid *ngIf="(calendar_tutors_unbooked | async)?.length > 0">
      <ion-row>
        <h2> Book a session </h2>
      </ion-row>
      <ion-row *ngFor="let session of calendar_tutors_unbooked | async">
        <ion-col col-4> {{session.start | tolocal}} </ion-col>
        <ion-col col-4> Single lesson </ion-col>
        <ion-col col-4>
          <button class="book" ion-button (click)="book(session, session.$key)">
            Book
          </button> 
        </ion-col>
      </ion-row>
    </ion-grid>
    <div text-center *ngIf="(calendar_tutors_unbooked | async)?.length < 1">
      <p> No available sessions </p>
    </div>
    <!--<ion-item>
      <ion-label stacked>Choose a session</ion-label>
      <ion-select [(ngModel)]="sessionid">
        <ion-option *ngFor="let session of calendar_tutors_unbooked | async" [value]=""></ion-option>
      </ion-select>
    </ion-item>            
    <calendar [user1]="user1" [user2]="user2" [user1id]="user.uid" [user2id]="recipientId" *ngIf="(upcoming_now_lessons | async)?.length == 0"> </calendar>
    
    <ion-item no-padding *ngIf="(pending_pending | async)?.length > 0">
    <div *ngFor="let message of messages"
          [ngClass]="{'other': message.userId != myId}" class="messages">

      <div [ngClass]="{'slide-right': hideTime, '': !hideTime}" class="message">
        <span>{{ message.content }} <p item-end> {{message.time}} </p></span>
      </div>



    </div>
    </ion-item>-->
    

  </ion-content>
  
  <!--<-ion-footer keyboard-attach class="bar-stable item-input-inset" *ngIf="(upcoming_now_lessons | async)?.length > 0">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" [(ngModel)]="messageBox"/>
    </label>
    <button class="button button-clear" (click)="sendMessage(messageBox)">
      Send
    </button>
  </ion-footer>-->
