<!--
  Generated template for the MessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
 <ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chat</ion-title>
  </ion-navbar>
</ion-header>

  <ion-content class="content-stable"
                on-swipe-left="hideTime = false"
                on-swipe-right="hideTime = true">
    <calendar [user1]="user1" [user2]="user2" [user1id]="user.uid" [user2id]="recipientId" *ngIf="(pending_lessons | async)?.length == 0"> </calendar>
    
    <ion-item no-padding *ngIf="(pending_pending | async)?.length > 0">
    <div *ngFor="let message of messages"
          [ngClass]="{'other': message.userId != myId}" class="messages">

      <div [ngClass]="{'slide-right': hideTime, '': !hideTime}" class="message">
        <span>{{ message.content }} <p item-end> {{message.time}} </p></span>
      </div>



    </div>
    </ion-item>

  </ion-content>

  <ion-footer keyboard-attach class="bar-stable item-input-inset" *ngIf="(pending_lessons | async)?.length > 0">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Type your message" [(ngModel)]="messageBox"/>
    </label>
    <button class="button button-clear" (click)="sendMessage(messageBox)">
      Send
    </button>
  </ion-footer>
