page-signup {
    .center{
        height: 100px;
        width: auto;
        margin: auto;
        display: block;
    }
    .girl{
        position: absolute;
        left: 0;
        bottom:0;
        height: 38%;
        width: 50%;
    }
    .google{
        position: absolute;
        width: 55%;
        height: 16%;
        bottom: 0;
        right:0;
    }

}
